.color-brand-primary {
  color: var(--brand-primary);
}

.color-brand-secondary {
  color: var(--brand-secondary);
}

.color-brand-tertiary {
  color: var(--brand-tertiary);
}

.text-brand-gradient {
  background-image: linear-gradient(
    to top,
    var(--brand-secondary),
    var(--brand-tertiary),
    var(--brand-primary)
  );
  color: transparent;
  background-clip: text;
}

.text-2xs {
  font-size: 0.6875rem !important;
}
